<!--Placeholder for Phaser3 JS-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maths Escape Room</title>
</head>
<body>
    <script src="{{ url_for('static', filename='js/phaser.min.js') }}"></script>

    <!--Load Phaser Game Scenes and Entrypoint-->
    <script src="{{ url_for('static', filename='js/Tutorial.js') }}" defer></script>

    <!--Load Main Phaser JS file-->
    <script src="{{ url_for('static', filename='js/Main.js') }}" defer></script>

    <!--Game canvas will be loaded here-->
</body>