<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Adaptive Math Escape Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="auth-container">
        <h1>Welcome Back</h1>
        <form id="login-form">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <a class="button primary" onclick="signIn()">Sign In</a>
        </form>
        <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a></p>
    </div>

    <script>

        const dashboardUrl = "{{ url_for('dashboard') }}";
        function signIn(){
            var data = {
                username: document.getElementById('username').value,
                password: document.getElementById('password').value,
            };

            fetch('https://mathmysteryfinal.onrender.com/loginUser',{
                method : 'POST',
                headers :{
                   'Content-Type': 'application/json' 
                },
                body: JSON.stringify(data),
                credentials: 'include'
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                alert(data.message);
                if (data.message === 'Login successful') {
                    sessionStorage.setItem("username", username);
                    setTimeout(function() {
                        window.location.href = dashboardUrl;
                    }, 500);  // 1000 milliseconds = 1 second
                }
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        }
    </script>
</body>
</html>
